.filter-container {
  display: flex;
  justify-content: space-between;
  height: 37px;
}

.filter-container__button {
  display: flex;
  justify-content: space-between;
  height: 37px;
}

.filter-container__sort {
  display: flex;
  height: 37px;
  font-weight: 400;
  font-size: 14px;
}

.filter-container__sort__label {
  line-height: 25.2px;
}

.filter-type {
  height: 37px;
  width: max-content;
  line-height: 16.8px;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin: 0 15px 0 0;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.search-input.dark {
  background-color: var(--bs-tertiary-bg);
}

.form-select {
  height: 37px;
  line-height: 16.8px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  gap: 10px;
  opacity: 80%;
}

.input__search {
  height: 43px;
}

@media only screen and (max-width: 768px) {
  .form-select {
    width: 100% !important;
  }
}

@media only screen and (max-width: 996px) {
  .filter-container__sort__label {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .filter-type {
    font-size: 1rem;
  }
}
