<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="/" class="logo navbar-brand">
      <img
        class="logo__image"
        [src]="
          themeService.isDarkMode()
            ? '/assets/images/misc/axonivy-logo.svg'
            : '/assets/images/misc/axonivy-logo-black.svg'
        "
        alt="Axon Ivy" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent">
      <div></div>
      <form class="d-lg-none" role="search">
        <input
          class="form-control me-2"
          type="search"
          [placeholder]="
            translateService.get('common.search.placeholder') | async
          "
          [ariaLabel]="
            translateService.get('common.search.placeholder') | async
          " />
      </form>
      <ul class="navbar-nav mr-auto">
        @for (item of navItems; track $index) {
          <li class="nav-item" [ngClass]="{ active: item.link === '/' }">
            <a class="nav-link" aria-current="page" [href]="item.link">
              {{ item.label | translate }}
            </a>
            <!-- <div class="active-line"></div> -->
          </li>
        }
      </ul>
      <ul
        class="navbar-nav mr-auto flex-lg-row flex-sm-column-reverse align-items-lg-center align-items-sm-stretch">
        <li class="m-2 header__theme-button border-top-md-gray">
          <div
            class="nav-item text-md-center"
            (click)="themeService.changeTheme()">
            @if (themeService.isDarkMode()) {
              <i class="bi bi-moon"></i>
            } @else {
              <i class="bi bi-sun"></i>
            }
          </div>
        </li>
        <li class="m-2 header__search-button nav-item d-sm-none d-lg-block">
          <input
            class="form-control me-2"
            [hidden]="!this.isSearchButtonClicked"
            type="search"
            (blur)="this.isSearchButtonClicked = false"
            [placeholder]="
              translateService.get('common.search.placeholder') | async
            "
            [ariaLabel]="
              translateService.get('common.search.placeholder') | async
            " />

          <i
            class="bi bi-search"
            [hidden]="this.isSearchButtonClicked"
            (click)="this.isSearchButtonClicked = true"></i>
        </li>

        <li>
          <select
            class="nav-item m-2 form-select form-select-sm w-auto d-sm-none d-lg-block"
            aria-label="Language"
            [(ngModel)]="selectedLanguage"
            (ngModelChange)="onSelectLanguage($event)"
            name="language">
            @for (language of languages; track $index) {
              <option [value]="language.value">
                {{ language.label | translate }}
              </option>
            }
          </select>
        </li>

        <li class="nav-item m-2 header__download-button">
          <button
            class="btn w-md-100"
            [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
            {{ 'common.footer.downloadLatestLTSVersion' | translate }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
