.logo__image {
  width: 200px;
  height: 3rem;
  margin-top: 1rem;
  vertical-align: initial;
}

.active-line {
  display: none;
  position: relative;
  height: 2px;
  width: inherit;
  background-color: var(--bs-highlight-color);
}

@media all and (max-width: 992px) {
  .show,
  .min-height-100 {
    min-height: 85lvh;
  }

  .border-top-md-gray {
    border-top: gray solid 1px;
  }
}
