.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-left: 1rem;
}

.logo__image {
  width: 200px;
  height: 3rem;
  margin-top: 1rem;
  vertical-align: initial;
}

.header__nav {
  margin-left: 20rem;
}

.header__menu--right {
  margin-right: 5px;
}

.nav-item {
  cursor: pointer;
}

.nav-item.active .active-line {
  display: block;
}

.active-line {
  display: none;
  position: relative;
  height: 2px;
  width: auto;
  background-color: var(--bs-highlight-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1rem 58rem 30rem;
}

@media all and (max-width: 992px) {
  .show,
  .min-height-100 {
    min-height: 85lvh;
  }

  .border-top-md-gray {
    border-top: gray solid 1px;
  }
}
