<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="/" class="logo navbar-brand">
      <img
        class="logo__image"
        [src]="
          themeService.isDarkMode()
            ? '/assets/images/misc/axonivy-logo.svg'
            : '/assets/images/misc/axonivy-logo-black.svg'
        "
        alt="Axon Ivy" />
    </a>
    <button
      class="btn border-0 navbar-toggler rounded-3"
      data-bs-toggle="collapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span>
        <i
          class="fs-2 header__menu-button"
          [ngClass]="isMobileMenuCollapsed() ? 'bi bi-list' : 'bi bi-x-lg'"
          (click)="onCollapsedMobileMenu()"></i>
      </span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: !isMobileMenuCollapsed() }"
      id="navbarSupportedContent">
      <div
        class="header__navbar-content d-flex flex-column flex-lg-row justify-content-between w-100 min-height-100 align-items-lg-center">
        <!-- dummy div for ui spacing in lg screen-->
        <div class="d-lg-block d-none"></div>
        <div class="header__navigation d-lg-none">
          <!-- Mobile Search Input -->
          <div class="input-group header-mobile__search bg-secondary">
            <div class="input-group-prepend">
              <span
                class="input-group-text h-100 rounded-start-4 rounded-end-0 border-0">
                <i class="bi bi-search"></i>
              </span>
            </div>
            <input
              class="form-control bg-secondary me-2 border-0"
              type="search"
              [placeholder]="
                translateService.get('common.search.placeholder') | async
              "
              [ariaLabel]="
                translateService.get('common.search.placeholder') | async
              " />
          </div>

          <!-- Navigation -->
          <ul class="navbar-nav">
            @for (item of navItems; track $index) {
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="
                    item.link === '/'
                      ? 'text-primary fw-bold active'
                      : 'text-secondary'
                  "
                  aria-current="page"
                  [href]="item.link">
                  {{ item.label | translate }}
                </a>
                <div
                  class="active-line d-none"
                  [ngClass]="{ 'd-lg-block': item.link === '/' }"></div>
              </li>
            }
          </ul>
        </div>

        @if (isSearchBarDisplayed()) {
          <ul class="navbar-nav">
            <li class="pb-1">
              <div class="input-group header__search-input bg-secondary">
                <div class="input-group-prepend">
                  <span class="input-group-text h-100 border-0 bg-secondary">
                    <i class="bi bi-search"></i>
                  </span>
                </div>
                <input
                  class="form-control bg-secondary me-2 border-0 search-input bg-secondary"
                  type="input"
                  [placeholder]="
                    translateService.get('common.search.placeholder') | async
                  "
                  [ariaLabel]="
                    translateService.get('common.search.placeholder') | async
                  " />

                <div class="input-group-prepend" (click)="onHideSearch()">
                  <span class="input-group-text h-100 border-0 bg-secondary">
                    <i class="bi bi-x-lg"></i>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        } @else {
          <ul
            class="navbar-nav navbar-nav--right mr-auto flex-lg-row flex-column-reverse align-items-lg-center align-items-sm-stretch header__action">
            <!-- Language Selection -->
            <div
              class="d-flex flex-row-reverse flex-lg-row justify-content-between mt-3 border-top-md-gray">
              <li class="header___language-select-container">
                @for (language of languages; track $index) {
                  <button
                    [ngClass]="
                      language.value === translateService.getDefaultLang()
                        ? 'active'
                        : 'inactive'
                    "
                    class="btn header__select-language border-0"
                    (click)="onSelectLanguage(language.value)">
                    {{ language.label }}
                  </button>
                }
              </li>

              <!-- Theme Mode -->
              <li class="mx-2 header__theme-button">
                <div class="text-center" (click)="themeService.changeTheme()">
                  @if (themeService.isDarkMode()) {
                    <i class="bi bi-sun"></i>
                  } @else {
                    <i class="bi bi-moon"></i>
                  }
                </div>
              </li>
            </div>

            <!-- Collapse Search -->
            <li
              class="mx-2 nav-item d-none d-lg-flex align-items-center header-desktop__search">
              @if (isSearchBarDisplayed()) {
                <div class="input-group-prepend h-100">
                  <span class="input-group-text border-0 bg-secondary">
                    <i class="bi bi-search"></i>
                  </span>
                </div>
                <input
                  class="form-control bg-secondary me-2 border-0 search-input bg-secondary"
                  type="search"
                  [placeholder]="
                    translateService.get('common.search.placeholder') | async
                  "
                  [ariaLabel]="
                    translateService.get('common.search.placeholder') | async
                  " />
              } @else {
                <div class="header__search-button">
                  <i class="bi bi-search" (click)="onClickSearchIcon()"></i>
                </div>
              }
            </li>

            <!-- Download Latest LTS Version -->
            <li class="nav-item header__download-button mx-2">
              <button class="btn btn-primary border-0 w-md-100 rounded-3">
                {{ 'common.header.download' | translate }}
              </button>
            </li>
          </ul>
        }
      </div>
    </div>
  </div>
</nav>
