<div class="card bg-secondary border-0 rounded-4 product-card w-100 h-100 p-1">
  <div class="d-flex justify-content-between align-items-start card-body">
    <img class="card-img-top rounded" [src]="product | logo" alt="" />
    <div
      class="rounded-3 lh-md px-2 py-1 text-light"
      [ngClass]="
        themeService.isDarkMode() ? 'bg-light text-dark' : 'bg-primary'
      ">
      {{ 'common.filter.value.' + product.type | translate }}
    </div>
  </div>
  <div class="card-body mt-100">
    <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
    <p class="card-text font-weight-light">{{ product.description }}</p>
  </div>
</div>
