<div
  class="d-flex flex-column justify-content-center align-items-start p-0"
  style="gap: 96px">
  <div
    class="d-flex flex-column justify-content-center align-items-start p-0"
    style="gap: 72px">
    <div
      class="d-flex flex-column justify-content-center align-items-start p-0"
      style="gap: 72px">
      <div
        class="d-flex flex-column justify-content-between align-items-start p-0"
        style="gap: 10px">
        Back to home
      </div>
      <div
        class="d-flex flex-row justify-content-between align-items-center p-0"
        style="gap: 32px">
        <div
          class="d-flex flex-row align-items-center p-0"
          style="gap: 20px; margin: 0 auto">
          <div
            class="d-flex flex-row justify-content-center align-items-center p-0"
            style="gap: 10px">
            <img style="width: 70px" [src]="productDetail().logoUrl" alt="" />
          </div>
          <div>
            <h1 class="text-primary">{{ productDetail().name }}</h1>
          </div>
        </div>
        <div
          class="d-flex flex-row align-items-center p-0"
          style="gap: 10px; margin: 0 auto">
          <app-product-version-action [productId]="product.id"></app-product-version-action>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row align-items-start p-0" style="gap: 72px">
      <div class="d-flex flex-column align-items-start p-0" style="gap: 10px">
        <h4 class="text-secondary">Review</h4>
        <h2 class="text-primary">{{ productDetail().platformReview }}</h2>
        <app-star-rating
          class="d-flex flex-row justify-content-center align-items-start p-0"
          style="gap: 3.2px"
          [rating]="productDetail().platformReview!"></app-star-rating>
      </div>
      <div class="d-flex flex-column align-items-start p-0" style="gap: 10px">
        <h4 class="text-secondary">Installations</h4>
        <h2 class="text-primary">46</h2>
        <h4 class="text-primary">Times</h4>
      </div>
      <div class="d-flex flex-column align-items-start p-0" style="gap: 10px">
        <h4 class="text-secondary">Type</h4>
        <h2>
          <i [className]="getTypeIcon()"></i>
        </h2>
        <h4 class="text-primary">{{ productDetail().type }}</h4>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-row align-items-start p-0"
    style="gap: 64px; width: 100%">
    <div
      class="d-flex flex-column align-items-start p-0"
      style="gap: 40px; width: 704px">
      <div
        class="d-flex flex-column justify-content-center align-items-start p-0"
        style="gap: 1px">
        <div
          class="tab-group d-flex flex-column justify-content-center align-items-start p-0"
          style="gap: 32px">
          <ul class="nav nav-tabs form-tabs" role="tablist">
            <li
              class="nav-item active d-flex flex-row justify-content-center align-items-start"
              style="padding: 15px; gap: 10px; border: 0 0 1 0"
              role="presentation">
              <a
                class="nav-link"
                id="description-tab"
                data-bs-toggle="tab"
                href="#description"
                role="tab">
                Description
              </a>
            </li>
            <li
              class="nav-item active d-flex flex-row justify-content-center align-items-start"
              style="padding: 15px; gap: 10px"
              role="presentation">
              <a
                class="nav-link"
                id="setup-tab"
                data-bs-toggle="tab"
                href="#setup"
                role="tab"
                aria-controls="setup"
                aria-selected="false">
                Installation guide
              </a>
            </li>
            <li
              class="nav-item active d-flex flex-row justify-content-center align-items-start"
              style="padding: 15px; gap: 10px"
              role="presentation">
              <a
                class="nav-link"
                id="demo-tab"
                data-bs-toggle="tab"
                href="#demo"
                role="tab"
                aria-controls="demo"
                aria-selected="false">
                Demo
              </a>
            </li>
            <li
              class="nav-item active d-flex flex-row justify-content-center align-items-start"
              style="padding: 15px; gap: 10px"
              role="presentation">
              <a
                class="nav-link"
                id="dependency-tab"
                data-bs-toggle="tab"
                href="#dependency"
                role="tab"
                aria-controls="dependency"
                aria-selected="true">
                Maven
              </a>
            </li>
          </ul>

          <ul class="tab-content">
            @if (readme().description) {
              <li
                class="tab-pane show active"
                id="description"
                role="tabpanel"
                aria-labelledby="description-tab">
                <markdown
                  class="readme-content col-lg-7 col-md-7 col-sm-5"
                  [data]="readme().description"></markdown>
              </li>
            }
            @if (readme().demo) {
              <li
                class="tab-pane"
                id="demo"
                role="tabpanel"
                aria-labelledby="demo-tab">
                <markdown
                  class="readme-content col-lg-7 col-md-7 col-sm-5"
                  [data]="readme().demo"></markdown>
              </li>
            }
            @if (readme().setup) {
              <li
                class="tab-pane"
                id="setup"
                role="tabpanel"
                aria-labelledby="setup-tab">
                <markdown
                  class="readme-content col-lg-7 col-md-7 col-sm-5"
                  [data]="readme().setup"></markdown>
              </li>
            }

            <li
              class="tab-pane"
              id="dependency"
              role="tabpanel"
              aria-labelledby="contact-tab">
              You can consume it as maven artifact in your
              <i>pom.xml</i>
            </li>
          </ul>
        </div>
      </div>

      <div class="content"></div>
    </div>

    <div
      class="d-flex flex-column align-items-start"
      style="padding: 15px; gap: 16px; flex-grow: 1">
      <h3 class="text-primary">Information</h3>
      <div class="d-flex flex-column p-0" style="gap: 8px; width: 100%">
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Author/Support</span>
          <span class="text-primary">Axon Ivy</span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Version</span>
          <span class="text-primary">
            {{ productDetail().newestReleaseVersion }}
          </span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Compability</span>
          <span class="text-primary">{{ productDetail().compatibility }}</span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Cost</span>
          <span class="text-primary">{{ productDetail().cost }}</span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Language</span>
          <span class="text-primary">{{ productDetail().language }}</span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Type</span>
          <span class="text-primary">{{ productDetail().type }}</span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Industry</span>
          <span class="text-primary">{{ productDetail().industry }}</span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Tag</span>
          <span class="text-primary">
            {{ productDetail().tags ? productDetail().tags!.join(', ') : '' }}
          </span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Source</span>
          <span>
            <a
              class="text-primary"
              style="margin: 0 auto"
              href="{{ productDetail().sourceUrl }}">
              github.com
            </a>
          </span>
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">Status</span>
          <img
            style="height: 20.36px; border-radius: 2px"
            src="{{ productDetail().statusBadgeUrl }}" />
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-between p-0">
          <span class="text-secondary">More Information</span>
          <span>
            <a
              class="text-primary"
              style="margin: 0 auto"
              href="https://www.axonivy.com/marketplace/contact/?market_solutions= + {{
                productDetail().id
              }}">
              Contact us
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
