@font-face {
  font-family: Inter;
  src: url(../fonts/inter.ttf) format('truetype');
}

h1 {
  font-weight: 600;
  font-size: 72px;
}

h2 {
  font-weight: 600;
  font-size: 64px;
}

h3 {
  font-weight: 600;
  font-size: 22px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

h5 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

$ivyPrimaryColorLight: #007095;
$ivyPrimaryColorHoverLight: #00445c;
$ivySecondaryColorLight: #f8f8f8;
$ivySecondaryButtonHoverLight: #ebebeb;
$ivyBackgroundColorLight: #fafafa;
$ivyPrimaryTextColorLight: #1b1b1b;
$ivySecondaryTextLight: #4a4a4a;
$ivyTextColorLight: #fafafa;

[data-bs-theme='light'] {
  --ivy-primary-color-light: #{$ivyPrimaryColorLight};
  --ivy-secondary-color-light: #{$ivySecondaryColorLight};

  --ivy-active-color: #{$ivyPrimaryColorLight};

  --header-border-color: #ebebeb;

  .bg-primary {
    background-color: #{$ivyPrimaryColorLight} !important;
  }

  .bg-secondary {
    background-color: #{$ivySecondaryColorLight} !important;
  }

  .btn {
    border-radius: 0.5rem;
  }

  .btn-primary {
    background-color: #{$ivyPrimaryColorLight};
  }

  .btn-primary:hover {
    background-color: #{$ivyPrimaryColorHoverLight};
  }

  .btn-secondary {
    background-color: #{$ivySecondaryColorLight};
    color: var(--bs-dark);
  }

  .btn-secondary:hover {
    background-color: #{$ivySecondaryButtonHoverLight};
  }

  .text-primary {
    color: #{$ivyPrimaryTextColorLight} !important;
  }

  .text-secondary {
    color: #{$ivySecondaryTextLight} !important;
  }

  .card__description {
    color: #{$ivySecondaryTextLight};
  }

  .card__tag {
    background-color: var(--ivy-primary-color-light);
    color: var(--bs-light);
  }
}

$ivyPrimaryColorDark: 44, 44, 44;
$ivySecondaryColorDarkRGB: 56, 56, 56;
$ivyBodyBackgroundDark: #2c2c2c;
$ivySecondaryColorDark: #383838;
$ivySecondaryHoverDark: #202020;
$ivyTextColorDark: #2c2c2c;
$ivyPrimaryButtonHoverDark: #ececec;
$ivySecondaryTextDark: #a3a3a3;

.spinner-border {
  width: 100px;
  height: 100px;
}

[data-bs-theme='dark'] {
  --bs-body-bg: #{$ivyBodyBackgroundDark};
  --bs-primary-rgb: #{$ivyPrimaryColorDark};
  --bs-secondary-rgb: #{$ivySecondaryColorDarkRGB};
  --bs-tertiary-bg: #{$ivySecondaryColorDarkRGB};

  --ivy-active-color: var(--bs-light);

  --header-border-color: #4a4a4a;

  .card {
    background-color: #{$ivySecondaryColorDarkRGB};
  }

  .btn {
    border-radius: 0.5rem;
  }

  .btn-primary {
    background-color: var(--bs-white);
    color: #{$ivySecondaryTextLight};
  }

  .btn-primary:hover {
    background-color: #{$ivyPrimaryButtonHoverDark};
  }

  .btn-secondary {
    background-color: #{$ivySecondaryColorDark};
  }

  .btn-secondary:hover {
    background-color: #{$ivySecondaryHoverDark};
  }

  .text-primary {
    color: #fff !important;
  }

  .text-secondary {
    color: #{$ivySecondaryTextDark} !important;
  }

  .card__description {
    color: #{$ivySecondaryTextDark};
  }

  .card__tag {
    background-color: #{$ivyBackgroundColorLight};
    color: #{$ivyTextColorDark};
  }
}

*:focus {
  box-shadow: none !important;
  outline: none !important;
}

@media (min-width: 1400px) {
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: 2560px) {
  .container {
    min-width: 1440px;
  }
}

@media (min-width: 3840px) {
  .container {
    min-width: 2160px;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25% !important;
  }
}
