@font-face {
  font-family: Inter;
  src: url(../fonts/inter.ttf) format('truetype');
}

h1 {
  font-weight: 600;
  font-size: 72px;
}

h3 {
  font-weight: 600;
  font-size: 22px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

$ivyPrimaryColorLight: #007095;
$ivyPrimaryColorHoverLight: #00445c;
$ivySecondaryColorLight: #f8f8f8;
$ivySecondaryButtonHoverLight: #ebebeb;
$ivyBackgroundColorLight: #fafafa;
$ivyCardDescriptionColorLight: #4a4a4a;
$ivyTextColorLight: #fafafa;

[data-bs-theme='light'] {
  body {
    font-family: Inter;
  }

  --ivy-primary-color-light: #{$ivyPrimaryColorLight};
  --ivy-secondary-color-light: #{$ivySecondaryColorLight};

  .bg-primary {
    background-color: #{$ivyPrimaryColorLight} !important;
  }

  .bg-secondary {
    background-color: #{$ivySecondaryColorLight} !important;
  }

  .btn {
    border-radius: 0.5rem;
  }

  .btn-primary {
    background-color: #{$ivyPrimaryColorLight};
  }

  .btn-primary:hover {
    background-color: #{$ivyPrimaryColorHoverLight};
  }

  .btn-secondary {
    background-color: #{$ivySecondaryColorLight};
    color: var(--bs-dark);
  }

  .btn-secondary:hover {
    background-color: #{$ivySecondaryButtonHoverLight};
  }

  .card__description {
    color: #{$ivyCardDescriptionColorLight};
  }

  .card__tag {
    background-color: var(--ivy-primary-color-light);
    color: var(--bs-light);
  }
}

$ivyPrimaryColorDark: 44, 44, 44;
$ivySecondaryColorDarkRGB: 56, 56, 56;
$ivyBodyBackgroundDark: #2c2c2c;
$ivySecondaryColorDark: #383838;
$ivySecondaryHoverDark: #202020;
$ivyTextColorDark: #2c2c2c;
$ivyPrimaryButtonHoverDark: #ececec;
$ivyCardDescriptionColorDark: #a3a3a3;

[data-bs-theme='dark'] {
  body {
    font-family: Inter;
  }

  --bs-body-bg: #{$ivyBodyBackgroundDark};
  --bs-primary-rgb: #{$ivyPrimaryColorDark};
  --bs-secondary-rgb: #{$ivySecondaryColorDarkRGB};
  --bs-tertiary-bg: #{$ivySecondaryColorDarkRGB};

  .card {
    background-color: #{$ivySecondaryColorDarkRGB};
  }

  .btn {
    border-radius: 0.5rem;
  }

  .btn-primary {
    background-color: var(--bs-white);
    color: #{$ivyCardDescriptionColorLight};
  }

  .btn:hover {
    background-color: #{$ivyPrimaryButtonHoverDark};
  }

  .btn-secondary {
    background-color: #{$ivySecondaryColorDark};
  }

  .btn-secondary:hover {
    background-color: #{$ivySecondaryHoverDark};
  }

  .card__description {
    color: #{$ivyCardDescriptionColorDark};
  }

  .card__tag {
    background-color: #{$ivyBackgroundColorLight};
    color: #{$ivyTextColorDark};
  }
}

*:focus {
  box-shadow: none !important;
}
