<div class="d-flex justify-content-around">
  <button
    class="btn"
    style="min-width: 149px"
    [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'">
    {{ 'common.product.detail.install.buttonLabel' | translate }}
  </button>
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    style="min-width: 141px"
    (click)="onShowVersionAndArtifact()"
    aria-expanded="false">
    {{ 'common.product.detail.download.buttonLabel' | translate }}
  </button>
@if (isDropDownDisplayed()) {
    <div class="dropdown-menu  p-0 show" style="width: 400px; height: 204px;transform: translate3d(80px, 55px, 0px);">
      <form class="mx-2 mt-1">
        <div class="form-group ">
          <label for="artifacts-selector" class="form-label font-size__small">
            {{
              'common.product.detail.download.artifactSelector.label' | translate
            }}
          </label>
          <select
            id="artifacts-selector"
            [(ngModel)]="selectedArtifact"
            name="Artifact"
            class="form-select form-select-sm"
            aria-label=".form-select-sm example">
            @for (item of artifacts; track $index) {
              <option [value]="item">{{ item.name }}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="verions-selector" class="form-label mt-2 font-size__small">
            {{
              'common.product.detail.download.versionSelector.label' | translate
            }}
          </label>
          <select
            id="verions-selector"
            [(ngModel)]="selectedVersion"
            name="Version"
            class="form-select form-select-sm"
            aria-label=".form-select-sm example">
            @for (item of versions; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
        <a href="#" class="font-size__small" (click)="onShowDevVersion($event)">
          {{ 'common.product.detail.download.hideDevVersions' | translate }}
        </a>
        <div class="form-group d-flex justify-content-end">
          <button
            class="btn"
            [ngClass]="themeService.isDarkMode() ? 'btn-light' : 'btn-primary'"
            (click)="downloadArifact()"
            type="button"
            id="downloadButton">
            {{ 'common.product.detail.download.buttonLabel' | translate }}
          </button>
        </div>
      </form>
    </div>
  }
</div>
