<div
  class="vr"
  style="
    position: absolute;
    height: 817px;
    left: 291px;
    top: 26px;
    border: 1px solid #ebebeb;
  "></div>
<button
  type="button"
  class="btn-close"
  aria-label="Close"
  style="position: absolute; right: 18px; top: 18px"
  (click)="activeModal.dismiss('Cross click')"></button>
<div
  style="position: absolute; left: 321px; top: 71px; bottom: 0; width: 528px">
  <app-product-feedbacks-panel
    [isScrollable]="true"></app-product-feedbacks-panel>
</div>
<div style="position: absolute; top: 76.64px; left: 42px; width: 218px">
  <app-star-rating-counting
    [productName]="productName"
    [isDisplayInDialog]="true" (openAddFeedbacDialogEvent)="activeModal.dismiss('Cross click')"></app-star-rating-counting>
</div>
