<div class="d-flex flex-column p-0" style="gap: 48px">
  <div
    class="d-flex flex-row p-0 align-items-center justify-content-between"
    style="height: 37px">
    <span
      class="feedback-secondary-color"
      style="font-size: 18px; font-weight: 400; line-height: 140%">
      Feedbacks
    </span>
    <app-feedback-filter (sortChange)="onSortChange($event)" />
  </div>
  @if (isScrollable) {
    <div
      class="position-absolute left-0 right-0 bottom-0 overflow-auto"
      style="top: 59px; scrollbar-width: none;">
      <div class="grid-feedbacks-container-dialog">
        @for (feedback of productFeedbacks; track $index) {
          <app-product-feedback [feedback]="feedback"></app-product-feedback>
        }
      </div>
    </div>
  } @else {
    <div class="grid-feedbacks-container">
      @for (feedback of productFeedbacks; track $index) {
        <app-product-feedback [feedback]="feedback" />
      }
    </div>
  }
</div>