.grid-feedbacks-container {
  display: grid;
  gap: 48px; // Adjust the gap between items as needed
}

// Large screens
@media (min-width: 768px) {
  .grid-feedbacks-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Small screens
@media (max-width: 767px) {
  .grid-feedbacks-container {
    grid-template-columns: 1fr;
  }
}
