.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  grid-gap: 50px;
}

.product-container {
  min-height: 6em;
}

.primary-title {
  font-size: 72px !important;
  font-weight: 600 !important;
}

.primary-title__description {
  font-size: 22px !important;
  font-weight: 600 !important;
}

.primary-title__second-description {
  font-size: 18px !important;
  color: #a3a3a3;
}
