<div class="container">
  <div class="mb-3">
    <button type="button" class="btn btn-primary" data-toggle="button">All Types</button>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Search a keyword"
      aria-label="Search a keyword"
      aria-describedby="basic-addon1" />
  </div>

  <div class="row">
    @for (product of products; track $index) {
      <div
        (click)="viewProductDetail(product.id)"
        class="col-sm-12 col-md-4 mt-2 mb-2">
        <app-product-card [product]="product"></app-product-card>
      </div>
    }
  </div>
</div>
