<div class="row mb-4">
    <div class="d-flex align-items-start justify-content-start">
        <div class="col-sm-3 col-6 text-start d-lg-block">
            <div class="product-data-title">
                <span>Review</span>
            </div>
            <div class="product-data-content">
                <span>{{ reviewNumber | number:'1.1-1' }}</span>
            </div>
            <div class="product-data-info">
                <app-star-rating [rating]="reviewNumber" [totalComments]="totalComments"></app-star-rating>
                <a class="connector-rate-link" href="#">Rate this connector</a>
            </div>
        </div>
        <div class="col-sm-9 col-6 text-start d-lg-block">
            <div>
                <span class="detailed-reviews">Detailed reviews</span>
            </div>
            <div>
                @for (counting of starRatingCountings; track $index) {
                <div class="start-rating-counting-line">
                    <div aria-hidden="true" class="star-index">
                        <div class="number-star-rating">{{counting.starRating}}</div>
                        <div class="mini-star-icon"><i class="start-rating-count bi bi-star-fill"></i></div>
                    </div>
                    <div aria-hidden="true" class="star-rating-counting-line">
                        <div id="star-rating-percent-{{counting.starRating}}" class="star-rating-percent"
                            title="{{counting.commentNumber}}" starRatingHighlight percent="{{counting.percent}}">
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>