.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 6; // number of lines to show
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expanded {
  display: inline;
}

.toggle-link {
  cursor: pointer;
  color: #007095;
}
