<div class="modal-content-wrapper">
  <div class="modal-header border-bottom-0">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body" style="margin-left: 40px; margin-right: 40px;">
    <div class="d-flex">
      <app-star-rating-counting style="width: 218px"
        [productId]="productId"
        [productName]="productName"
        [isDisplayInDialog]="true"
        (openAddFeedbacDialogEvent)="activeModal.dismiss()" />
      <div style="width: 60px;" class="d-flex justify-content-center">
        <div class="vr" style="position: relative; height: 817px; top: -15px; border: 1px solid #ebebeb;"></div>
      </div>
      <app-product-feedbacks-panel style="width: 525px;"
        [productId]="productId"
        [isRenderInModalDialog]="true" />
    </div>
  </div>
</div>
