<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Ivy Information -->
  <section class="d-flex justify-content-lg-between justify-content-md-center p-4 border-bottom">
    <div class="flex-column logo">
      <!-- Left -->
      <img
        class="logo__image"
        [src]="
          themeService.isDarkMode()
            ? '/assets/images/misc/axonivy-logo.svg'
            : '/assets/images/misc/axonivy-logo-black.svg'
        "
        alt="Axon Ivy" />

      <!-- Right -->
      <div>
        New version release available for Linux,
        <br />
        Window and MacOS operating systems.
      </div>

      <div class="flex-row">
        <button class="btn btn-primary">Download V10.0.18</button>
        <button class="btn btn-outline-primary m-3">Download V11.2.1</button>
      </div>
    </div>

    <div class="d-flex align-items-center d-md-none d-lg-block">
      <div class=" navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-lg-0">
          @for (item of navItems; track $index) {
            <li class="nav-item">
              <a class="nav-link" aria-current="page">
                {{ item.label | translate }}
              </a>
              <div class="active-line"></div>
            </li>
          }
        </ul>
      </div>
    </div>
  </section>
  <!-- Section: Policy & Social Media -->
  <section class="d-flex flex-lg-row flex-sm-column justify-content-between p-4 border-bottom">
    <div class="navbar navbar-expand-lg align-self-md-center w-md-100">
      <!-- Left -->
      <div class="flex-md-row navbar-nav me-auto mb-lg-0 flex-wrap w-md-100 justify-content-center">
        <div class="p-2 w-md-100">
          <a class="nav-link" aria-current="page">2023 Axon Ivy Inx.</a>
          <div class="active-line"></div>
        </div>
        <div class="p-2">
          <a class="nav-link" aria-current="page">Privacy Policy</a>
          <div class="active-line"></div>
        </div>
        <div class="p-2">
          <a class="nav-link" aria-current="page">Terms of Service</a>
          <div class="active-line"></div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-sm-center">
      <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-lg-0 flex-sm-row">
          <li class="p-2">
            <a class="nav-link" aria-current="page">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="p-2">
            <a class="nav-link" aria-current="page">
              <i class="fab fa-xing"></i>
            </a>
          </li>
          <li class="p-2">
            <a class="nav-link" aria-current="page">
              <i class="fab fa-youtube"></i>
            </a>
          </li><li class="p-2">
            <a class="nav-link" aria-current="page">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
