.logo__image {
  width: 200px;
  height: 3rem;
  margin-top: 1rem;
  vertical-align: initial;
}

.nav-link {
  font-weight: 600;
}

.link-icon {
  width: 18px;
  height: 18px;
}

.link--left {
  margin: 0 2rem 0 0;
}
