<div class="d-flex flex-column p-0" style="gap: 48px">
  <div
    class="d-flex flex-row p-0 align-items-center justify-content-between"
    style="height: 37px">
    <span
      class="feedback-secondary-color"
      style="font-size: 18px; font-weight: 400; line-height: 140%">
      Feedbacks
    </span>
    <app-feedback-filter (sortChange)="onSortChange($event)" />
  </div>
  @if (isRenderInModalDialog()) {
    <div class="position-absolute bottom-0 overflow-auto grid-feedbacks-container-dialog" style="top: 59px; right: 0; left: 0; scrollbar-width: none;" (scroll)='onScrollCheckBottom($event)'>
      @for (feedback of productFeedbacks; track $index) {
        <app-product-feedback [feedback]="feedback"></app-product-feedback>
      }
    </div>
  } @else {
    <div class="grid-feedbacks-container">
      @for (feedback of displayedFeedbacks; track $index) {
        <app-product-feedback [feedback]="feedback" />
      }
    </div>
  }
</div>