i {
  display: inline-block;
  width: 25.64px;
  height: 25.64px;
}

.total-comments {
  display: inline-block;
  width: 36px;
  height: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #757575;
}