.product-data-info {
  .star-feedback-default {
    display: inline-block;
    width: 25.64px;
    height: 25.64px;
    text-align: center;
  }

  .star-feedback-panel {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
  }

  .total-comments {
    display: inline-block;
    width: 36px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
}