<div
  class="modal fade"
  id="showFeedbacksModal"
  aria-hidden="true"
  aria-labelledby="showFeedbacksModal"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 884px;">
    <div
      class="modal-content"
      style="
        border-radius: 10px;
        height: 870px;
        border: 0;
        box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.25);
      ">
      <div
        class="vr"
        style="
          position: absolute;
          height: 817.01px;
          left: 291px;
          top: 26px;
          border: 1px solid #ebebeb;
          opacity: 1;
        "></div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        style="position: absolute; right: 18px; top: 18px"></button>
      <div
        style="
          position: absolute;
          left: 321px;
          top: 71px;
          bottom: 0;
          width: 528px;
        ">
        <app-product-feedbacks-panel
          [isScrollable]="true"
          [isBtnShowMoreVisible]="false"></app-product-feedbacks-panel>
      </div>
      <div style="position: absolute; top: 76.64px; left: 42px; width: 218px;">
        <app-star-rating-counting [isDisplayInDialog]="true"></app-star-rating-counting>
      </div>
    </div>
  </div>
</div>
